env/
build/

.venv/
.env

__pycache__

/generated/c
/generated/exo
/generated/halide
/generated/noarr

/optimization/c_*
/optimization/exo_*
/optimization/halide_*
/optimization/noarr_*

/to_model/c
/to_model/exo
/to_model/halide
/to_model/noarr

/from_model/c
/from_model/exo
/from_model/halide
/from_model/noarr
