GPT_QUERYING_PROVIDER=gpt51

GPT51_API_KEY=<your_gpt51_api_key>
# GPT51_MODEL=gpt-5.1-2025-11-13

# GEMMA_API_BASE=http://bw01:8000/v1
# GEMMA_MODEL=google/gemma-4-31b-it
# GEMMA_TEMPERATURE=0.7
# GEMMA_API_KEY=
